body,
h1,
h2,
h3,
p,
div,
a,
img,
input {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-weight: normal;
}

.wrap {
    background-color: white;
}


.main {
    width: 600px;
    margin: auto;
}