.post {
    width: 600px;
    height: 150px;

    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0.5px solid rgb(232, 232, 232);
    padding: 20px;
}

.post .inputPost img {
    margin-left: 10px;
    width: 38px;
    height: 38px;
    margin: 0 5px;

    border-radius: 50%;
    object-fit: cover;

}

.post .inputPost input {
    width: 500px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(232, 232, 232);
    border: none;
    vertical-align: -3px;

    text-indent: 10px;
    border-radius: 30px;
}

.post-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
    margin-right: 5px;
    font-size: 15px;
}

.post-icons i {
    margin-right: 5px;
    font-size: 28px;
}

.bi-camera-reels {
    color: red;
}

.bi-file-image {
    color: green;

}

.bi-emoji-smile {
    color: orange;
}



.postCard {
    width: 600px;
    height: 270px;
    border: 0.5px solid rgb(232, 232, 232);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    overflow: hidden;

}

.postUser {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 8px;
}

/* userImg */
.postCard .postUser img {
    width: 40px;
    height: 40px;
    margin: 0 5px;

    border-radius: 50%;
    object-fit: cover;

}

.postCard .postUser div:first-child {
    margin-left: 20px;
}

.postCard .postUser .postTime {
    font-size: 14px;
    margin-left: auto;
    margin-right: 10px;
}

.postCard .postContent {
    padding: 10px;
}

.postCard .postIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 10px 0;
}

.postCard .postIcons div {
    width: 280;
    margin: auto;
    font-size: 20px;
}

.postCard .postComment img {
    width: 40px;
    height: 40px;
    margin: 0 5px;

    border-radius: 50%;
    object-fit: cover;
}

.postCard .postComment input {
    vertical-align: -3px;
    width: 80%;
    height: 40px;
    background-color: rgb(232, 232, 232);
    border: none;
    margin-left: 5px;

    text-indent: 10px;
    border-radius: 30px;
}


/* like */
.postIcons>.bi-hand-thumbs-up {
    color: #1876F2;
}

.postId {
    display: none;
}