
body,
h1,
h2,
h3,
p,
a {
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
/* PC */
@media screen and (min-width: 1024px) {
    .gnb > .contents {
        width: 600px;
    }
    .contents img {
        width: 90px;

    }
    .contents >input {
        width: 80;

    }
    .contents div:last-child {
        width: 80px;
        font-size: 20px;
        padding: 0 10px;


    }
    .contents div:last-child i {
        margin: 0 3px;
    };
}
@media screen and (max-width: 768px) {
}
/* 모바일 */
@media screen and (max-width: 480px) {
    
}
/* 중복되는 부분 날리기 */