
/* 모바일에 사용될 스타일 시트 */
@media screen and (min-width:480px) and (max-width:767px) {
    .gnb>.contents {
        width: 700px;
    }

    .contents img {
        width: 95px;

    }

    .contents>input {
        width: 280px;
        padding: 0 10px;

    }

    .contents div:last-child {
        width: 100px;
        font-size: 20px;
        margin-right: 80px;
    }

    .contents div:last-child i {
        margin: 0 2px;
    }
    .contents div i {
        padding: 0 2px;
    }
}

@media screen and (max-width: 670px) {
    .gnb>.contents {
        width: 550px;
    }

    .contents img {
        width: 95px;

    }

    .contents>input {
        width: 230px;

    }
    .contents div:last-child {
        margin-right:80px;
        margin-left:10px;
        width: 70px;
        font-size:20px;
        
    }
    .contents div >i {

        margin: 0 3px;
    
    }

    .wrap {
        width: 500px;

    }
}

@media screen and (max-width: 520px) {
    .gnb>.contents {
        width: 500px;
    }
    .contents>input {
        width: 210px;
        margin: 0 10px;

    }

    .story {
        width: 480px;
    }

    .wrap {
        width: 480px;

    }

    .content {
        width: 480px;
    }

    .card {
        width: 450px;
    }

}

@media screen and (max-width: 414px) {
    .contents div:last-child {
        margin-right:90px;
        margin-left:10px;
        width: 70px;
        font-size:20px;
        
    }

    .wrap {
        width: 470px;
        margin: 20px 10px;
        margin-left: 6px;
    }
    .story {
        width: 480px;
        margin-left: 15px;
    }
};

